/*
    used https://responsive-css.us/
    * and then changed the first block to item_icon and the file url
    * set the unknown as default item
    * used regex /width: \d+px; height: \d+px;/ to remove unneeded parts (because then it is not responsive)
    * add a underscore to leading numbers
*/

.item_icon {
    display:block;
    overflow:hidden; 
    background-repeat: no-repeat;
    background-image:url('/rsc/item_source_file.png');
    image-rendering: pixelated;
    background-position: 56.3000% 45.0251%;
    background-size: 4266.67%;
    height: 100%;
    width: 100%;

}

._1h_marble {background-position: 15.6784% 25.4032%; background-size: 3531.03%; }
._1h_marble_gold {background-position: 22.3116% 25.4032%; background-size: 3531.03%; }
._1h_obsidian {background-position: 25.4271% 25.4032%; background-size: 3531.03%; }
._1h_ore_metal {background-position: 34.7739% 25.4032%; background-size: 3531.03%; }
._1h_stone {background-position: 37.8894% 25.4032%; background-size: 3531.03%; }
._2h_ore_silver {background-position: 43.3809% 51.1044%; background-size: 2438.10%; }
.accepted_invitation {background-position: 54.2800% 25.4032%; background-size: 3303.23%; }
.acid {background-position: 57.3146% 25.4032%; background-size: 3938.46%; }
.actors_song {background-position: 60.4230% 25.4032%; background-size: 3303.23%; }
.alchemy_1_brown {background-position: 58.1489% 56.9709%; background-size: 3413.33%; }
.alchemy_1_d_blue {background-position: 61.3682% 56.9709%; background-size: 3413.33%; }
.alchemy_1_d_green {background-position: 64.5875% 56.9709%; background-size: 3413.33%; }
.alchemy_1_d_violet {background-position: 67.8068% 56.9709%; background-size: 3413.33%; }
.alchemy_1_green {background-position: 71.0262% 56.9709%; background-size: 3413.33%; }
.alchemy_1_red {background-position: 74.2455% 56.9709%; background-size: 3413.33%; }
.alchemy_1_violet {background-position: 77.4648% 56.9709%; background-size: 3413.33%; }
.alchemy_1_yellow {background-position: 80.6841% 56.9709%; background-size: 3413.33%; }
.alchemy_1_yellow_electro {background-position: 63.8105% 25.4032%; background-size: 3200.00%; }
.alchemy_2_brown {background-position: 53.4000% 51.1044%; background-size: 4266.67%; }
.alchemy_2_d_blue {background-position: 56.0000% 51.1044%; background-size: 4266.67%; }
.alchemy_2_d_green {background-position: 58.6000% 51.1044%; background-size: 4266.67%; }
.alchemy_2_d_violet {background-position: 61.2000% 51.1044%; background-size: 4266.67%; }
.alchemy_2_empty {background-position: 63.8000% 51.1044%; background-size: 4266.67%; }
.alchemy_2_green {background-position: 66.4000% 51.1044%; background-size: 4266.67%; }
.alchemy_2_red {background-position: 69.0000% 51.1044%; background-size: 4266.67%; }
.alchemy_2_violet {background-position: 74.2000% 51.1044%; background-size: 4266.67%; }
.alchemy_2_yellow {background-position: 71.6000% 51.1044%; background-size: 4266.67%; }
.alchemy_3_brown {background-position: 79.2247% 25.3776%; background-size: 5688.89%; }
.alchemy_3_d_blue {background-position: 81.2127% 25.3776%; background-size: 5688.89%; }
.alchemy_3_d_green {background-position: 83.2008% 25.3776%; background-size: 5688.89%; }
.alchemy_3_d_violet {background-position: 85.1889% 25.3776%; background-size: 5688.89%; }
.alchemy_3_empty {background-position: 87.1769% 25.3776%; background-size: 5688.89%; }
.alchemy_3_green {background-position: 89.1650% 25.3776%; background-size: 5688.89%; }
.alchemy_3_red {background-position: 91.1531% 25.3776%; background-size: 5688.89%; }
.alchemy_3_violet {background-position: 93.1412% 25.3776%; background-size: 5688.89%; }
.alchemy_3_yellow {background-position: 95.1292% 25.3776%; background-size: 5688.89%; }
.alice_paper {background-position: 46.1229% 11.5927%; background-size: 3303.23%; }
.alkali {background-position: 49.1984% 11.5927%; background-size: 3938.46%; }
.aristocrat_paper {background-position: 88.8218% 4.23814%; background-size: 3303.23%; }
.armor_lamellar_1 {background-position: 80.1411% 32.0926%; background-size: 3200.00%; }
.armor_lamellar_2 {background-position: 83.5685% 32.0926%; background-size: 3200.00%; }
.aromatizer {background-position: 52.0040% 11.5927%; background-size: 3938.46%; }
.ash {background-position: 77.2636% 51.0532%; background-size: 3413.33%; }
.axe_0 {background-position: 77.7218% 44.9799%; background-size: 3200.00%; }
.axe_1 {background-position: 3.62903% 41.8090%; background-size: 3200.00%; }
.axe_2 {background-position: 7.05645% 41.8090%; background-size: 3200.00%; }
.bait_gem {background-position: 86.4729% 32.0926%; background-size: 3938.46%; }
.bait_gold {background-position: 89.2786% 32.0926%; background-size: 3938.46%; }
.bait_steel {background-position: 92.0842% 32.0926%; background-size: 3938.46%; }
.baked_kebab_3 {background-position: 98.2897% 25.3776%; background-size: 3413.33%; }
.baked_kebab_4 {background-position: 0.201207% 28.8016%; background-size: 3413.33%; }
.baked_kebab_6 {background-position: 55.0302% 11.5927%; background-size: 3413.33%; }
.barrel {background-position: 58.1325% 11.5927%; background-size: 3657.14%; }
.bartender_doll {background-position: 10.6996% 41.8090%; background-size: 1969.23%; }
.bat_wing {background-position: 95.2716% 32.0926%; background-size: 3413.33%; }
.bee {background-position: 3.41709% 28.8016%; background-size: 3531.03%; }
.beeswax {background-position: 15.8954% 41.8090%; background-size: 3413.33%; }
.beet_crop {background-position: 92.2379% 4.23814%; background-size: 3200.00%; }
.beet_seed {background-position: 98.3920% 32.0926%; background-size: 3531.03%; }
.bijouterie_gold {background-position: 61.3911% 11.5927%; background-size: 3200.00%; }
.bishop_license {background-position: 80.8233% 44.9799%; background-size: 3657.14%; }
.black_paint {background-position: 64.6231% 11.5927%; background-size: 3531.03%; }
.blessing_commerce {background-position: 67.8751% 11.5927%; background-size: 3303.23%; }
.blood {background-position: 79.8403% 51.0532%; background-size: 4654.55%; }
.bob_hat {background-position: 83.0645% 51.0532%; background-size: 3200.00%; }
.body {background-position: 19.4274% 41.8090%; background-size: 2226.09%; }
.bone {background-position: 84.0040% 44.9799%; background-size: 3413.33%; }
.book_ruined_1 {background-position: 6.55242% 28.8016%; background-size: 3200.00%; }
.book_soft {background-position: 87.3992% 44.9799%; background-size: 3200.00%; }
.book__book_hard {background-position: 23.9919% 41.8090%; background-size: 3200.00%; }
.bottle_apple_braga {background-position: 94.9950% 4.23814%; background-size: 4096.00%; }
.bottle_apple_juice {background-position: 97.5025% 4.23814%; background-size: 4452.17%; }
.bottle_berry_braga {background-position: 0.200200% 8.07265%; background-size: 4096.00%; }
.bottle_berry_juice {background-position: 2.89710% 8.07265%; background-size: 4452.17%; }
.bottle_booz_empty {background-position: 76.9770% 11.5927%; background-size: 4096.00%; }
.bottle_booz_xxx {background-position: 79.6797% 11.5927%; background-size: 4096.00%; }
.bottle_empty_1 {background-position: 5.39461% 8.07265%; background-size: 4452.17%; }
.bottle_empty_2 {background-position: 7.90791% 8.07265%; background-size: 4096.00%; }
.bottle_grape_juice {background-position: 10.5894% 8.07265%; background-size: 4452.17%; }
.bottle_red_vine {background-position: 13.1131% 8.07265%; background-size: 4096.00%; }
.bowl_empty {background-position: 29.9799% 59.7598%; background-size: 3413.33%; }
.box_beer_1 {background-position: 84.0040% 0.202429%; background-size: 3413.33%; }
.box_beer_2 {background-position: 87.2233% 0.202429%; background-size: 3413.33%; }
.box_beer_3 {background-position: 90.4427% 0.202429%; background-size: 3413.33%; }
.box_booz {background-position: 93.6620% 0.202429%; background-size: 3413.33%; }
.box_foodstuff_1 {background-position: 96.8813% 0.202429%; background-size: 3413.33%; }
.box_foodstuff_2 {background-position: 0.201207% 4.25101%; background-size: 3413.33%; }
.box_foodstuff_3 {background-position: 3.42052% 4.25101%; background-size: 3413.33%; }
.box_goods {background-position: 6.63984% 4.25101%; background-size: 3413.33%; }
.box_mead_1 {background-position: 9.85915% 4.25101%; background-size: 3413.33%; }
.box_mead_2 {background-position: 13.0785% 4.25101%; background-size: 3413.33%; }
.box_mead_3 {background-position: 16.2978% 4.25101%; background-size: 3413.33%; }
.box_vegetables_gold {background-position: 19.5171% 4.25101%; background-size: 3413.33%; }
.box_vegetables_silver {background-position: 22.7364% 4.25101%; background-size: 3413.33%; }
.box_wine_1 {background-position: 25.9557% 4.25101%; background-size: 3413.33%; }
.box_wine_2 {background-position: 29.1751% 4.25101%; background-size: 3413.33%; }
.box_wine_3 {background-position: 32.3944% 4.25101%; background-size: 3413.33%; }
.brain_dark {background-position: 36.6935% 59.7598%; background-size: 3200.00%; }
.brain__brain {background-position: 33.2661% 59.7598%; background-size: 3200.00%; }
.broken_sword {background-position: 26.8612% 35.4125%; background-size: 3413.33%; }
.bs_letter {background-position: 6.62651% 48.0924%; background-size: 3657.14%; }
.bud {background-position: 93.1727% 56.9138%; background-size: 3657.14%; }
.building_permission {background-position: 32.2256% 15.1210%; background-size: 3303.23%; }
.bust_marble {background-position: 48.4515% 8.07265%; background-size: 4452.17%; }
.butter {background-position: 22.5579% 28.8016%; background-size: 3303.23%; }
.butterfly {background-position: 35.5131% 15.1210%; background-size: 3413.33%; }
.b_circle {background-position: 5.57244% 0.202634%; background-size: 2767.57%; }
.b_cross {background-position: 9.52381% 0.202634%; background-size: 2767.57%; }
.b_empty {background-position: 13.4752% 0.202634%; background-size: 2767.57%; }
.b_energy {background-position: 17.4265% 0.202634%; background-size: 2767.57%; }
.b_faith {background-position: 21.3779% 0.202634%; background-size: 2767.57%; }
.b_faith_money {background-position: 25.3293% 0.202634%; background-size: 2767.57%; }
.b_ghost {background-position: 29.2806% 0.202634%; background-size: 2767.57%; }
.b_money {background-position: 33.2320% 0.202634%; background-size: 2767.57%; }
.b_pen {background-position: 37.1834% 0.202634%; background-size: 2767.57%; }
.b_plant {background-position: 41.1348% 0.202634%; background-size: 2767.57%; }
.b_random {background-position: 45.0861% 0.202634%; background-size: 2767.57%; }
.b_shield {background-position: 49.0375% 0.202634%; background-size: 2767.57%; }
.b_sins {background-position: 52.9889% 0.202634%; background-size: 2767.57%; }
.b_skull {background-position: 56.9402% 0.202634%; background-size: 2767.57%; }
.b_star {background-position: 60.8916% 0.202634%; background-size: 2767.57%; }
.b_sword {background-position: 64.8430% 0.202634%; background-size: 2767.57%; }
.b_techpoint_blue {background-position: 68.7943% 0.202634%; background-size: 2767.57%; }
.b_techpoint_green {background-position: 72.7457% 0.202634%; background-size: 2767.57%; }
.b_techpoint_red {background-position: 76.6971% 0.202634%; background-size: 2767.57%; }
.b_village {background-position: 80.6484% 0.202634%; background-size: 2767.57%; }
.cabbage_crop {background-position: 25.9073% 28.8016%; background-size: 3200.00%; }
.cabbage_seed {background-position: 96.4753% 56.9138%; background-size: 3303.23%; }
.calculation_for_mill_fix {background-position: 42.1954% 15.1210%; background-size: 3303.23%; }
.caldron {background-position: 45.4728% 15.1210%; background-size: 3413.33%; }
.candle {background-position: 61.2550% 35.4125%; background-size: 5120.00%; }
.candle_1 {background-position: 63.3201% 35.4125%; background-size: 5688.89%; }
.candle_2 {background-position: 99.7012% 4.23387%; background-size: 5120.00%; }
.candle_3 {background-position: 71.3718% 35.4125%; background-size: 5688.89%; }
.candle_4 {background-position: 54.6813% 15.1210%; background-size: 5120.00%; }
.candle_6 {background-position: 63.1474% 15.1210%; background-size: 5120.00%; }
.carrot_crop {background-position: 55.8022% 4.24242%; background-size: 3103.03%; }
.carrot_seed {background-position: 69.5871% 59.7598%; background-size: 3303.23%; }
.carved_wood {background-position: 32.5605% 48.0924%; background-size: 3200.00%; }
.ceramic_1 {background-position: 49.2958% 28.8016%; background-size: 3413.33%; }
.ceramic_2 {background-position: 86.2450% 15.1210%; background-size: 3657.14%; }
.ceramic_3 {background-position: 99.4980% 15.1210%; background-size: 3657.14%; }
.chapter {background-position: 85.9155% 54.0622%; background-size: 3413.33%; }
.cheese {background-position: 95.6871% 41.8090%; background-size: 3792.59%; }
.chisel__chisel_1 {background-position: 80.6841% 35.4125%; background-size: 3413.33%; }
.chisel__chisel_2 {background-position: 83.9034% 35.4125%; background-size: 3413.33%; }
.clay {background-position: 28.9447% 18.5484%; background-size: 3531.03%; }
.coal {background-position: 32.0603% 18.5484%; background-size: 3531.03%; }
.coins {background-position: 58.4089% 28.8016%; background-size: 3303.23%; }
.communion_cookies {background-position: 0.201005% 56.9709%; background-size: 3531.03%; }
.cover__cover_1 {background-position: 61.6700% 28.8016%; background-size: 3413.33%; }
.cover__cover_hard {background-position: 38.7097% 18.5484%; background-size: 3200.00%; }
.crab {background-position: 42.1371% 18.5484%; background-size: 3200.00%; }
.crop_waste {background-position: 19.3548% 38.6318%; background-size: 3200.00%; }
.cup_beer {background-position: 22.6680% 38.6318%; background-size: 3792.59%; }
.cup_empty {background-position: 3.61083% 45.0251%; background-size: 3792.59%; }
.cup_mead {background-position: 6.51956% 45.0251%; background-size: 3792.59%; }
.curtain_blue {background-position: 48.9405% 18.5484%; background-size: 3103.03%; }
.dagger_baron {background-position: 68.2093% 28.8016%; background-size: 3413.33%; }
.dark_elixir {background-position: 52.1042% 18.5484%; background-size: 3938.46%; }
.dessert__croissant {background-position: 55.9919% 48.0924%; background-size: 3303.23%; }
.dessert__jelly_green {background-position: 59.0180% 48.0924%; background-size: 3938.46%; }
.dessert__jelly_red {background-position: 61.8236% 48.0924%; background-size: 3938.46%; }
.dessert__muffin {background-position: 25.6539% 38.6318%; background-size: 3413.33%; }
.dessert__pie {background-position: 28.9315% 38.6318%; background-size: 3200.00%; }
.dessert__pie_1 {background-position: 13.0040% 56.9709%; background-size: 3200.00%; }
.dessert__pie_2 {background-position: 16.4315% 56.9709%; background-size: 3200.00%; }
.detail_1 {background-position: 73.9698% 28.8016%; background-size: 3531.03%; }
.detail_2 {background-position: 32.3263% 38.6318%; background-size: 3303.23%; }
.detail_3 {background-position: 35.7215% 4.24671%; background-size: 3103.03%; }
.detail_trash {background-position: 83.7865% 28.8016%; background-size: 3303.23%; }
.dinner {background-position: 35.6855% 38.6318%; background-size: 3200.00%; }
.dough {background-position: 19.8189% 56.9709%; background-size: 3413.33%; }
.dough_2 {background-position: 64.8893% 48.0924%; background-size: 3413.33%; }
.drop_alcohol {background-position: 22.8543% 56.9709%; background-size: 4654.55%; }
.drop_oil {background-position: 99.3014% 54.0622%; background-size: 4654.55%; }
.egg_chicken {background-position: 74.4233% 48.0924%; background-size: 3792.59%; }
.embalm_-1_-1 {background-position: 35.9359% 21.9758%; background-size: 4096.00%; }
.embalm_-1_1 {background-position: 16.1161% 21.9758%; background-size: 4096.00%; }
.embalm_-2_2 {background-position: 44.5455% 21.9758%; background-size: 3011.76%; }
.embalm_0_1 {background-position: 99.4995% 18.5484%; background-size: 4096.00%; }
.embalm_1_1 {background-position: 6.70671% 21.9758%; background-size: 4096.00%; }
.embalm_2_0 {background-position: 38.6386% 21.9758%; background-size: 4096.00%; }
.embalm_50 {background-position: 51.5152% 21.9758%; background-size: 3011.76%; }
.embalm_stop {background-position: 55.1515% 21.9758%; background-size: 3011.76%; }
.endless_book {background-position: 3.52823% 51.1044%; background-size: 3200.00%; }
.energy_elixir {background-position: 58.3166% 21.9758%; background-size: 3938.46%; }
.eternal_burning_coil {background-position: 14.3863% 51.1044%; background-size: 3413.33%; }
.eye {background-position: 74.1449% 38.6318%; background-size: 3413.33%; }
.faceted_diamond {background-position: 31.8637% 56.9709%; background-size: 3938.46%; }
.faceted_emerald {background-position: 77.3642% 38.6318%; background-size: 3413.33%; }
.faith {background-position: 17.5703% 51.1044%; background-size: 3657.14%; }
.fat {background-position: 26.6868% 59.8196%; background-size: 3303.23%; }
.fillet_fish_white {background-position: 49.3952% 32.1249%; background-size: 3200.00%; }
.fillet_fish__fillet_fish_blue {background-position: 33.3669% 32.1249%; background-size: 3200.00%; }
.fillet_fish__fillet_fish_red {background-position: 42.6411% 32.1249%; background-size: 3200.00%; }
.fire {background-position: 86.3727% 38.6318%; background-size: 3938.46%; }
.firewood {background-position: 99.5960% 21.9758%; background-size: 3011.76%; }
.fishing_rod_0 {background-position: 26.1089% 11.6044%; background-size: 3200.00%; }
.fishing_rod_1 {background-position: 29.5363% 11.6044%; background-size: 3200.00%; }
.fishing_rod_2 {background-position: 32.9970% 11.6044%; background-size: 3103.03%; }
.fish_anchovy {background-position: 92.4547% 38.6318%; background-size: 3413.33%; }
.fish_bream {background-position: 94.8640% 8.07265%; background-size: 3303.23%; }
.fish_carp {background-position: 98.1873% 8.07265%; background-size: 3303.23%; }
.fish_crucian_gold {background-position: 64.9598% 45.0251%; background-size: 3657.14%; }
.fish_crucian_silver {background-position: 67.9719% 45.0251%; background-size: 3657.14%; }
.fish_eel {background-position: 6.15540% 11.6044%; background-size: 3103.03%; }
.fish_frog_green {background-position: 33.0312% 51.1044%; background-size: 3303.23%; }
.fish_goldfish {background-position: 6.55903% 25.4032%; background-size: 3103.03%; }
.fish_gudgeon {background-position: 62.8399% 32.1249%; background-size: 3303.23%; }
.fish_perch {background-position: 9.66767% 11.6044%; background-size: 3303.23%; }
.fish_pike {background-position: 13.0040% 11.6044%; background-size: 3200.00%; }
.fish_salmon {background-position: 85.4692% 4.24242%; background-size: 3103.03%; }
.fish_sardine {background-position: 98.8934% 38.6318%; background-size: 3413.33%; }
.fish_sturgeon {background-position: 18.8698% 25.4032%; background-size: 3103.03%; }
.fish_tilapia {background-position: 19.2346% 11.6044%; background-size: 3303.23%; }
.fish_tuna {background-position: 22.6034% 11.6044%; background-size: 3103.03%; }
.flask_green_l_plus {background-position: 31.4516% 25.4032%; background-size: 3200.00%; }
.flavor_enhancer {background-position: 28.4569% 25.4032%; background-size: 3938.46%; }
.flesh {background-position: 36.3911% 51.1044%; background-size: 3200.00%; }
.flitch {background-position: 74.2424% 45.0251%; background-size: 3011.76%; }
.flour {background-position: 69.8990% 32.1249%; background-size: 3011.76%; }
.flw_chamomile {background-position: 39.6985% 51.1044%; background-size: 3531.03%; }
.flw_dandelion {background-position: 73.1658% 32.1249%; background-size: 3531.03%; }
.flw_poppy {background-position: 54.9296% 56.9709%; background-size: 3413.33%; }
.flyer__flyer_bad {background-position: 41.0876% 25.4032%; background-size: 3303.23%; }
.foodstuff_1 {background-position: 76.6667% 32.1249%; background-size: 3011.76%; }
.foodstuff_2 {background-position: 44.5005% 25.4032%; background-size: 3103.03%; }
.foodstuff_3 {background-position: 48.0323% 25.4032%; background-size: 3103.03%; }
.food_empty_plate_1 {background-position: 88.4073% 59.7598%; background-size: 3200.00%; }
.fork_salty {background-position: 0.201613% 41.8511%; background-size: 3200.00%; }
.freshener {background-position: 51.2024% 25.4032%; background-size: 3938.46%; }
.fruit__apple_green_crop {background-position: 47.2837% 51.1044%; background-size: 3413.33%; }
.fruit__apple_red_crop {background-position: 50.5030% 51.1044%; background-size: 3413.33%; }
.fruit__berry {background-position: 36.4552% 11.6044%; background-size: 3303.23%; }
.fruit__grapes_crop {background-position: 39.8587% 11.6044%; background-size: 3103.03%; }
.funeral_urn_1 {background-position: 67.1026% 25.4032%; background-size: 3413.33%; }
.funeral_urn_2 {background-position: 70.3219% 25.4032%; background-size: 3413.33%; }
.glass_0 {background-position: 43.0862% 11.6044%; background-size: 3938.46%; }
.glass_1 {background-position: 73.5412% 25.4032%; background-size: 3413.33%; }
.glass_2 {background-position: 76.9153% 25.4032%; background-size: 3200.00%; }
.glue {background-position: 70.8417% 11.5927%; background-size: 3938.46%; }
.golden_apple {background-position: 90.6439% 44.9799%; background-size: 3413.33%; }
.golden_elixir {background-position: 74.0927% 11.5927%; background-size: 3200.00%; }
.goo {background-position: 86.4919% 51.0532%; background-size: 3200.00%; }
.goo_alcohol {background-position: 93.3468% 51.0532%; background-size: 3200.00%; }
.goo_ash {background-position: 89.9194% 51.0532%; background-size: 3200.00%; }
.goo_blood {background-position: 96.7742% 51.0532%; background-size: 3200.00%; }
.goo_brown {background-position: 0.201613% 54.0622%; background-size: 3200.00%; }
.goo_diamond {background-position: 13.9113% 54.0622%; background-size: 3200.00%; }
.goo_d_blue {background-position: 3.62903% 54.0622%; background-size: 3200.00%; }
.goo_d_green {background-position: 7.05645% 54.0622%; background-size: 3200.00%; }
.goo_d_violet {background-position: 10.4839% 54.0622%; background-size: 3200.00%; }
.goo_gold {background-position: 17.3387% 54.0622%; background-size: 3200.00%; }
.goo_graphite {background-position: 20.7661% 54.0622%; background-size: 3200.00%; }
.goo_green {background-position: 24.1935% 54.0622%; background-size: 3200.00%; }
.goo_oil {background-position: 27.6210% 54.0622%; background-size: 3200.00%; }
.goo_red {background-position: 31.0484% 54.0622%; background-size: 3200.00%; }
.goo_salt {background-position: 34.4758% 54.0622%; background-size: 3200.00%; }
.goo_silver {background-position: 37.9032% 54.0622%; background-size: 3200.00%; }
.goo_spice {background-position: 41.3306% 54.0622%; background-size: 3200.00%; }
.goo_violet {background-position: 44.7581% 54.0622%; background-size: 3200.00%; }
.goo_water {background-position: 48.1855% 54.0622%; background-size: 3200.00%; }
.goo_white {background-position: 51.6129% 54.0622%; background-size: 3200.00%; }
.goo_yellow {background-position: 55.0403% 54.0622%; background-size: 3200.00%; }
.goo_yellow_electro {background-position: 82.9637% 11.5927%; background-size: 3200.00%; }
.grapes_seed {background-position: 83.9034% 56.9138%; background-size: 3413.33%; }
.graphite {background-position: 86.1307% 11.5927%; background-size: 3531.03%; }
.grave_bot_mrb_1 {background-position: 94.0524% 44.9799%; background-size: 3200.00%; }
.grave_bot_mrb_2 {background-position: 27.4747% 41.8090%; background-size: 3011.76%; }
.grave_bot_stn_1 {background-position: 97.4798% 44.9799%; background-size: 3200.00%; }
.grave_bot_stn_2 {background-position: 31.1111% 41.8090%; background-size: 3011.76%; }
.grave_bot_wd_1 {background-position: 0.201613% 48.0924%; background-size: 3200.00%; }
.grave_place {background-position: 15.9274% 8.07265%; background-size: 3200.00%; }
.grave_top_mrb_cross_1 {background-position: 19.2000% 8.07265%; background-size: 4266.67%; }
.grave_top_mrb_cross_2 {background-position: 21.8000% 8.07265%; background-size: 4266.67%; }
.grave_top_sarcofag_mrb_1 {background-position: 39.2137% 4.24242%; background-size: 3200.00%; }
.grave_top_sculpt_mrb_1 {background-position: 99.5000% 0.202020%; background-size: 4266.67%; }
.grave_top_sculpt_mrb_2 {background-position: 42.5553% 4.24242%; background-size: 3413.33%; }
.grave_top_sculpt_stn_1 {background-position: 45.5000% 4.24242%; background-size: 4266.67%; }
.grave_top_sculpt_stn_2 {background-position: 48.3903% 4.24242%; background-size: 3413.33%; }
.grave_top_stella_mrb_1 {background-position: 50.9940% 4.24242%; background-size: 5688.89%; }
.grave_top_stella_stn_1 {background-position: 52.9821% 4.24242%; background-size: 5688.89%; }
.grave_top_stn_cross_1 {background-position: 24.4000% 8.07265%; background-size: 4266.67%; }
.grave_top_stn_cross_2 {background-position: 27.0000% 8.07265%; background-size: 4266.67%; }
.grave_top_stn_plate_1 {background-position: 0.199402% 35.4125%; background-size: 4876.19%; }
.grave_top_stn_plate_2 {background-position: 99.7992% 51.0532%; background-size: 3657.14%; }
.grave_top_wd_cross_1 {background-position: 29.6000% 8.07265%; background-size: 4266.67%; }
.grave_top_wd_tab_1 {background-position: 32.1357% 8.07265%; background-size: 4654.55%; }
.growth_enhancer {background-position: 88.9780% 11.5927%; background-size: 3938.46%; }
.hammer_0 {background-position: 9.94975% 28.8016%; background-size: 3531.03%; }
.hammer_2 {background-position: 34.6425% 41.8090%; background-size: 3303.23%; }
.hamp_crop {background-position: 34.9142% 8.07265%; background-size: 3103.03%; }
.hamp_seed {background-position: 87.1227% 56.9138%; background-size: 3413.33%; }
.hand {background-position: 2.51004% 35.4125%; background-size: 3657.14%; }
.hand_tool {background-position: 95.5162% 11.5927%; background-size: 1575.38%; }
.hearthstone {background-position: 37.9276% 41.8090%; background-size: 3413.33%; }
.heart_dark {background-position: 16.1809% 28.8016%; background-size: 3531.03%; }
.heart__heart {background-position: 13.0653% 28.8016%; background-size: 3531.03%; }
.hiccup_grass {background-position: 98.8934% 11.5927%; background-size: 3413.33%; }
.honey {background-position: 5.51655% 35.4125%; background-size: 3792.59%; }
.honey_barrel {background-position: 38.4073% 8.07265%; background-size: 3200.00%; }
.honey_plaster {background-position: 0.201207% 15.1210%; background-size: 3413.33%; }
.hop_crop {background-position: 8.45070% 35.4125%; background-size: 3413.33%; }
.hop_seed {background-position: 91.3741% 59.7000%; background-size: 3792.59%; }
.huge_carrot {background-position: 0.205761% 62.4376%; background-size: 1969.23%; }
.hunters_medallion {background-position: 3.43434% 15.1210%; background-size: 3011.76%; }
.incense_1 {background-position: 11.6700% 35.4125%; background-size: 3413.33%; }
.incense_2 {background-position: 7.05645% 15.1210%; background-size: 3200.00%; }
.infusion {background-position: 10.4104% 15.1210%; background-size: 4096.00%; }
.ingot_gold {background-position: 41.2298% 41.8090%; background-size: 3200.00%; }
.ingot_metal {background-position: 44.6573% 41.8090%; background-size: 3200.00%; }
.ingot_silver {background-position: 51.5121% 41.8090%; background-size: 3200.00%; }
.ingot_steel {background-position: 48.0847% 41.8090%; background-size: 3200.00%; }
.ink__ink_jar {background-position: 14.8445% 35.4125%; background-size: 3792.59%; }
.insertion_button_pseudoitem {background-position: 3.61446% 48.0924%; background-size: 3657.14%; }
.intestine_dark {background-position: 45.4087% 8.07265%; background-size: 3103.03%; }
.intestine__intestine {background-position: 41.8769% 8.07265%; background-size: 3103.03%; }
.jelly_slug {background-position: 58.3501% 54.0622%; background-size: 3413.33%; }
.jelly_slug_black {background-position: 61.5694% 54.0622%; background-size: 3413.33%; }
.jelly_slug_blue {background-position: 64.7887% 54.0622%; background-size: 3413.33%; }
.jelly_slug_orange {background-position: 68.0080% 54.0622%; background-size: 3413.33%; }
.jewelry_detail_gold {background-position: 13.1923% 15.1210%; background-size: 3303.23%; }
.jewelry_detail_silver {background-position: 16.5156% 15.1210%; background-size: 3303.23%; }
.jug_empty {background-position: 19.7791% 15.1210%; background-size: 3657.14%; }
.jug_milk {background-position: 22.7912% 15.1210%; background-size: 3657.14%; }
.key_cmmn_1 {background-position: 17.7711% 35.4125%; background-size: 3657.14%; }
.key_cmmn_3 {background-position: 20.7831% 35.4125%; background-size: 3657.14%; }
.key_gold_1 {background-position: 23.7952% 35.4125%; background-size: 3657.14%; }
.key_gold_2 {background-position: 30.0201% 35.4125%; background-size: 3657.14%; }
.key_gold_3 {background-position: 33.0321% 35.4125%; background-size: 3657.14%; }
.key_silv_1 {background-position: 36.0442% 35.4125%; background-size: 3657.14%; }
.key_silv_2 {background-position: 39.0562% 35.4125%; background-size: 3657.14%; }
.key_silv_3 {background-position: 42.0683% 35.4125%; background-size: 3657.14%; }
.kidneys {background-position: 90.1606% 56.9138%; background-size: 3657.14%; }
.lense {background-position: 25.8291% 15.1210%; background-size: 3531.03%; }
.lentils_crop {background-position: 19.3159% 28.8016%; background-size: 3413.33%; }
.lentils_seed {background-position: 40.1615% 59.7598%; background-size: 3103.03%; }
.lifestone {background-position: 28.9738% 15.1210%; background-size: 3413.33%; }
.lungs_dark {background-position: 71.3710% 54.0622%; background-size: 3200.00%; }
.maggot {background-position: 54.8290% 41.8090%; background-size: 3413.33%; }
.marble {background-position: 75.5601% 54.0622%; background-size: 2438.10%; }
.marble_gold {background-position: 9.77597% 48.0924%; background-size: 2438.10%; }
.marble_gold_plate_1 {background-position: 58.1653% 41.8090%; background-size: 3200.00%; }
.marble_gold_plate_2 {background-position: 45.2621% 35.4125%; background-size: 3200.00%; }
.marble_gold_plate_3 {background-position: 61.5927% 41.8090%; background-size: 3200.00%; }
.marble_plate_1 {background-position: 65.0202% 41.8090%; background-size: 3200.00%; }
.marble_plate_2 {background-position: 48.6895% 35.4125%; background-size: 3200.00%; }
.marble_plate_3 {background-position: 50.9491% 8.07265%; background-size: 4452.17%; }
.marketing_point {background-position: 53.8229% 8.07265%; background-size: 3413.33%; }
.meal__baked_fish {background-position: 52.1169% 35.4125%; background-size: 3200.00%; }
.meal__baked_kebab_1 {background-position: 29.2757% 28.8016%; background-size: 3413.33%; }
.meal__baked_kebab_2 {background-position: 32.4950% 28.8016%; background-size: 3413.33%; }
.meal__baked_kebab_5 {background-position: 57.0423% 8.07265%; background-size: 3413.33%; }
.meal__baked_meat {background-position: 79.2339% 54.0622%; background-size: 3200.00%; }
.meal__baked_pumpkin {background-position: 38.8105% 15.1210%; background-size: 3200.00%; }
.meal__baked_salmon {background-position: 68.5166% 41.8090%; background-size: 3103.03%; }
.meal__beet_slice {background-position: 82.6613% 54.0622%; background-size: 3200.00%; }
.meal__bowl_lentil {background-position: 43.5614% 59.7598%; background-size: 3413.33%; }
.meal__bowl_pumpkin {background-position: 46.7807% 59.7598%; background-size: 3413.33%; }
.meal__burger {background-position: 35.7143% 28.8016%; background-size: 3413.33%; }
.meal__cutlet_carrot {background-position: 55.3213% 35.4125%; background-size: 3657.14%; }
.meal__honey_fish {background-position: 72.0484% 41.8090%; background-size: 3103.03%; }
.meal__lasagne {background-position: 58.5685% 35.4125%; background-size: 3200.00%; }
.meal__nuggets_fish {background-position: 75.5040% 41.8090%; background-size: 3200.00%; }
.meal__omlette {background-position: 50.1008% 59.7598%; background-size: 3200.00%; }
.meal__pasta {background-position: 0.201613% 59.8196%; background-size: 3200.00%; }
.meal__soup_fish {background-position: 53.4205% 59.7598%; background-size: 3413.33%; }
.meal__soup_red_green {background-position: 56.6398% 59.7598%; background-size: 3413.33%; }
.meal__soup_red_yellow {background-position: 59.8592% 59.7598%; background-size: 3413.33%; }
.meal__soup_yellow_green {background-position: 63.0785% 59.7598%; background-size: 3413.33%; }
.merchant_traide_license {background-position: 14.0562% 48.0924%; background-size: 3657.14%; }
.millers_invitation {background-position: 17.0683% 48.0924%; background-size: 3657.14%; }
.mirror_of_pride {background-position: 48.6432% 15.1210%; background-size: 3531.03%; }
.moth {background-position: 51.9153% 15.1210%; background-size: 3200.00%; }
.muscle {background-position: 66.0302% 35.4125%; background-size: 3531.03%; }
.mussels {background-position: 69.0763% 35.4125%; background-size: 3657.14%; }
.nails {background-position: 39.0121% 28.8016%; background-size: 3200.00%; }
.nails_bloody {background-position: 42.4395% 28.8016%; background-size: 3200.00%; }
.necklace {background-position: 78.9315% 41.8090%; background-size: 3200.00%; }
.necronomicon {background-position: 20.1613% 48.0924%; background-size: 3200.00%; }
.nitroglycerine {background-position: 59.8402% 8.07265%; background-size: 4452.17%; }
.nori {background-position: 82.3589% 41.8090%; background-size: 3200.00%; }
.notes {background-position: 66.2978% 59.7598%; background-size: 3413.33%; }
.note_wasted {background-position: 74.0964% 35.4125%; background-size: 3657.14%; }
.nugget_gold {background-position: 57.3869% 15.1210%; background-size: 3531.03%; }
.nugget_silver {background-position: 60.5634% 15.1210%; background-size: 3413.33%; }
.obsidian {background-position: 23.8532% 48.0924%; background-size: 2381.40%; }
.obsidian_plate_1 {background-position: 85.7863% 41.8090%; background-size: 3200.00%; }
.obsidian_plate_2 {background-position: 77.4194% 35.4125%; background-size: 3200.00%; }
.obsidian_plate_3 {background-position: 89.2137% 41.8090%; background-size: 3200.00%; }
.obsidian_research {background-position: 66.0624% 15.1210%; background-size: 3303.23%; }
.onion_crop {background-position: 69.4556% 15.1210%; background-size: 3200.00%; }
.onion_seed {background-position: 72.6908% 59.7598%; background-size: 3657.14%; }
.ore_metal {background-position: 28.4114% 48.0924%; background-size: 2438.10%; }
.organs__organs_1 {background-position: 92.7346% 41.8090%; background-size: 3103.03%; }
.owl_wood {background-position: 62.4000% 8.07265%; background-size: 4266.67%; }
.packet_meat {background-position: 45.9132% 28.8016%; background-size: 3103.03%; }
.pail_apple_juice {background-position: 72.8831% 15.1210%; background-size: 3200.00%; }
.pail_berry_juice {background-position: 76.3105% 15.1210%; background-size: 3200.00%; }
.pail_blood {background-position: 79.7379% 15.1210%; background-size: 3200.00%; }
.pail_braga {background-position: 83.1653% 15.1210%; background-size: 3200.00%; }
.pail_dirt {background-position: 89.6169% 15.1210%; background-size: 3200.00%; }
.pail_empty {background-position: 93.0444% 15.1210%; background-size: 3200.00%; }
.pail_grape_juice {background-position: 96.4718% 15.1210%; background-size: 3200.00%; }
.pail_milk {background-position: 0.201613% 18.5484%; background-size: 3200.00%; }
.pail_water {background-position: 3.62903% 18.5484%; background-size: 3200.00%; }
.pail_wet_paper {background-position: 7.05645% 18.5484%; background-size: 3200.00%; }
.paper_clean {background-position: 75.8551% 59.7598%; background-size: 3413.33%; }
.parfum_1 {background-position: 10.4418% 18.5484%; background-size: 3657.14%; }
.peat {background-position: 52.6210% 28.8016%; background-size: 3200.00%; }
.pen_1 {background-position: 65.1303% 8.07265%; background-size: 3938.46%; }
.pen__ink_pen {background-position: 13.4945% 18.5484%; background-size: 3303.23%; }
.permission {background-position: 35.8434% 48.0924%; background-size: 3657.14%; }
.pickaxe_0 {background-position: 16.7503% 18.5484%; background-size: 3792.59%; }
.pickaxe_1 {background-position: 19.6590% 18.5484%; background-size: 3792.59%; }
.pickaxe_2 {background-position: 22.5677% 18.5484%; background-size: 3792.59%; }
.picnic_basket {background-position: 25.6048% 18.5484%; background-size: 3200.00%; }
.pie_with_poison {background-position: 87.2984% 35.4125%; background-size: 3200.00%; }
.polishing_paste {background-position: 79.0744% 59.7598%; background-size: 3413.33%; }
.porter_backpack {background-position: 90.3160% 54.0622%; background-size: 2381.40%; }
.potion_berries_juice {background-position: 55.4890% 28.8016%; background-size: 4654.55%; }
.pot_appetite {background-position: 90.0000% 35.4125%; background-size: 4266.67%; }
.pot_armor {background-position: 92.6000% 35.4125%; background-size: 4266.67%; }
.pot_berserk {background-position: 95.2000% 35.4125%; background-size: 4266.67%; }
.pot_damage {background-position: 97.8000% 35.4125%; background-size: 4266.67%; }
.pot_heal {background-position: 0.200000% 38.6318%; background-size: 4266.67%; }
.pot_heal_long {background-position: 2.80000% 38.6318%; background-size: 4266.67%; }
.pot_mana {background-position: 5.40000% 38.6318%; background-size: 4266.67%; }
.pot_speed {background-position: 8.00000% 38.6318%; background-size: 4266.67%; }
.pot_sweat {background-position: 10.6000% 38.6318%; background-size: 4266.67%; }
.powder_gold {background-position: 93.6620% 54.0622%; background-size: 3413.33%; }
.powder_graphite {background-position: 96.8813% 54.0622%; background-size: 3413.33%; }
.powder_silver {background-position: 3.31992% 56.9709%; background-size: 3413.33%; }
.powder_white {background-position: 6.53924% 56.9709%; background-size: 3413.33%; }
.preach_1 {background-position: 99.0927% 41.8090%; background-size: 3200.00%; }
.preach_2 {background-position: 0.201613% 45.0251%; background-size: 3200.00%; }
.preservative {background-position: 35.2823% 18.5484%; background-size: 3200.00%; }
.priest_cloth {background-position: 39.0909% 48.0924%; background-size: 3011.76%; }
.pumpkin_crop {background-position: 59.3939% 4.24242%; background-size: 3011.76%; }
.pumpkin_seed {background-position: 42.6842% 48.0924%; background-size: 3103.03%; }
.pyrite {background-position: 68.3468% 8.07265%; background-size: 3200.00%; }
.quest_cultit_book {background-position: 46.1694% 48.0924%; background-size: 3200.00%; }
.quest_fake_coins {background-position: 64.9547% 28.8016%; background-size: 3303.23%; }
.quest_instruction_snake {background-position: 45.5186% 18.5484%; background-size: 3303.23%; }
.quest_key_astrologer {background-position: 16.2651% 38.6318%; background-size: 3657.14%; }
.ques_key_cultist {background-position: 13.2530% 38.6318%; background-size: 3657.14%; }
.rand_alchemy_unlock {background-position: 49.3976% 48.0924%; background-size: 3657.14%; }
.rat_buff__dog_training_1 {background-position: 71.0000% 28.8016%; background-size: 4266.67%; }
.rat_buff__dog_training_2 {background-position: 55.1863% 18.5484%; background-size: 3303.23%; }
.rat_buff__dog_training_3 {background-position: 71.8466% 8.07265%; background-size: 3103.03%; }
.rat_buff__fast {background-position: 57.8685% 18.5484%; background-size: 5120.00%; }
.rat_buff__obedient {background-position: 77.2407% 28.8016%; background-size: 3303.23%; }
.rat_buff__speed_training_1 {background-position: 60.7251% 18.5484%; background-size: 3303.23%; }
.rat_buff__speed_training_2 {background-position: 80.4829% 28.8016%; background-size: 3413.33%; }
.rat_buff__speed_training_3 {background-position: 9.47581% 45.0251%; background-size: 3200.00%; }
.rat_for_dig {background-position: 13.3803% 59.8196%; background-size: 3413.33%; }
.rat_status__critically_hungry {background-position: 68.1772% 48.0924%; background-size: 3303.23%; }
.rat_status__hungry {background-position: 38.9168% 38.6318%; background-size: 3792.59%; }
.rat_status__normal {background-position: 63.6000% 18.5484%; background-size: 4266.67%; }
.rat_status__satisfied {background-position: 62.4625% 4.24242%; background-size: 4096.00%; }
.rat_status__very_hungry {background-position: 87.1098% 28.8016%; background-size: 3303.23%; }
.rat__rat_in_jar_0 {background-position: 99.6982% 56.9138%; background-size: 3413.33%; }
.rat__rat_in_jar_1 {background-position: 3.62173% 59.8196%; background-size: 3413.33%; }
.rat__rat_in_jar_2 {background-position: 9.75855% 56.9709%; background-size: 3413.33%; }
.rat__rat_in_jar_3 {background-position: 52.6210% 48.0924%; background-size: 3200.00%; }
.rat__rat_in_jar_4 {background-position: 6.84105% 59.8196%; background-size: 3413.33%; }
.rat__rat_in_jar_5 {background-position: 10.0705% 59.8196%; background-size: 3303.23%; }
.raw_meat_sliced {background-position: 71.4286% 48.0924%; background-size: 3413.33%; }
.recipe_2min {background-position: 66.6667% 18.5484%; background-size: 3303.23%; }
.recipe_delicacies {background-position: 69.9899% 18.5484%; background-size: 3303.23%; }
.recipe_honey {background-position: 73.3132% 18.5484%; background-size: 3303.23%; }
.recipe_Jelly {background-position: 76.6365% 18.5484%; background-size: 3303.23%; }
.recipe_Pies {background-position: 79.9597% 18.5484%; background-size: 3303.23%; }
.recipe_pot_speed {background-position: 83.2830% 18.5484%; background-size: 3303.23%; }
.recipe_Sweet {background-position: 86.6062% 18.5484%; background-size: 3303.23%; }
.recipe_Veg {background-position: 89.9295% 18.5484%; background-size: 3303.23%; }
.repair_mrb {background-position: 93.3468% 18.5484%; background-size: 3200.00%; }
.repair_stn {background-position: 96.7742% 18.5484%; background-size: 3200.00%; }
.repair_wdn {background-position: 75.1509% 8.07265%; background-size: 3413.33%; }
.restoration_instrument {background-position: 42.0363% 38.6318%; background-size: 3200.00%; }
.rightful_citizen_paper {background-position: 0.201410% 21.9758%; background-size: 3303.23%; }
.roof_tile {background-position: 94.5674% 59.7000%; background-size: 3413.33%; }
.rope_hemp {background-position: 45.3266% 38.6318%; background-size: 3531.03%; }
.sack_clear {background-position: 65.4271% 4.24242%; background-size: 3531.03%; }
.sack_clock_gold {background-position: 68.7500% 4.24242%; background-size: 3200.00%; }
.sack_clock_silver {background-position: 3.52113% 21.9758%; background-size: 3413.33%; }
.sack_star_gold {background-position: 72.1774% 4.24242%; background-size: 3200.00%; }
.sack_star_silver {background-position: 75.6048% 4.24242%; background-size: 3200.00%; }
.sandwich {background-position: 90.6155% 28.8016%; background-size: 3103.03%; }
.sand_river {background-position: 77.7218% 48.0924%; background-size: 3200.00%; }
.scalp {background-position: 25.4271% 56.9709%; background-size: 3531.03%; }
.science {background-position: 9.47581% 21.9758%; background-size: 3200.00%; }
.scroll_2 {background-position: 12.8902% 21.9758%; background-size: 3303.23%; }
.scroll_blue {background-position: 80.8233% 48.0924%; background-size: 3657.14%; }
.scroll_for_hunchback {background-position: 83.8353% 48.0924%; background-size: 3657.14%; }
.scroll_garden_prop {background-position: 86.8474% 48.0924%; background-size: 3657.14%; }
.scroll_graveyard_prop {background-position: 89.8594% 48.0924%; background-size: 3657.14%; }
.seedling_bush_berry {background-position: 12.9032% 45.0251%; background-size: 3200.00%; }
.seedling_tree_apple {background-position: 93.2068% 28.8016%; background-size: 4452.17%; }
.seed_oil {background-position: 77.9780% 8.07265%; background-size: 4096.00%; }
.sextant {background-position: 18.9516% 21.9758%; background-size: 3200.00%; }
.shit {background-position: 28.6290% 56.9709%; background-size: 3200.00%; }
.shovel_0 {background-position: 22.3790% 21.9758%; background-size: 3200.00%; }
.shovel_1 {background-position: 25.8065% 21.9758%; background-size: 3200.00%; }
.shovel_2 {background-position: 29.2339% 21.9758%; background-size: 3200.00%; }
.shr_agaric {background-position: 16.3142% 45.0251%; background-size: 3303.23%; }
.shr_boletus {background-position: 93.0584% 48.0924%; background-size: 3413.33%; }
.shr_truffle {background-position: 96.2777% 48.0924%; background-size: 3413.33%; }
.silk {background-position: 32.6942% 21.9758%; background-size: 3103.03%; }
.silver_elixir {background-position: 41.3828% 21.9758%; background-size: 3938.46%; }
.skin {background-position: 19.6177% 45.0251%; background-size: 3413.33%; }
.skin_pig {background-position: 81.2500% 8.07265%; background-size: 3200.00%; }
.skroll_skin_pig {background-position: 48.0363% 21.9758%; background-size: 3303.23%; }
.skull {background-position: 48.2000% 38.6318%; background-size: 4266.67%; }
.skull_candle {background-position: 95.8959% 28.8016%; background-size: 4096.00%; }
.slime {background-position: 16.5996% 59.8196%; background-size: 3413.33%; }
.snack__baked_apple {background-position: 99.0946% 28.8016%; background-size: 3413.33%; }
.snack__baked_kebab_7 {background-position: 0.201207% 32.1249%; background-size: 3413.33%; }
.snack__bowl_sauerkraut {background-position: 99.4970% 48.0924%; background-size: 3413.33%; }
.snack__bread {background-position: 22.8370% 45.0251%; background-size: 3413.33%; }
.snack__fried_egg {background-position: 82.1285% 59.7598%; background-size: 3657.14%; }
.snack__onion_ring {background-position: 0.201410% 51.1044%; background-size: 3303.23%; }
.snack__pancakes {background-position: 6.92771% 51.1044%; background-size: 3657.14%; }
.snack__sandwich {background-position: 3.43088% 32.1249%; background-size: 3103.03%; }
.snack__toasts {background-position: 51.1581% 38.6318%; background-size: 3303.23%; }
.soap_pinc {background-position: 6.95565% 32.1249%; background-size: 3200.00%; }
.spider_web {background-position: 61.4919% 21.9758%; background-size: 3200.00%; }
.spike_1 {background-position: 54.4266% 38.6318%; background-size: 3413.33%; }
.spike_2 {background-position: 57.6459% 38.6318%; background-size: 3413.33%; }
.stamp {background-position: 64.9194% 21.9758%; background-size: 3200.00%; }
.stick {background-position: 60.8652% 38.6318%; background-size: 3413.33%; }
.stone {background-position: 10.0815% 51.1044%; background-size: 2438.10%; }
.stone_plate_1 {background-position: 64.2137% 38.6318%; background-size: 3200.00%; }
.stone_plate_2 {background-position: 67.6411% 38.6318%; background-size: 3200.00%; }
.stone_plate_3 {background-position: 26.1089% 45.0251%; background-size: 3200.00%; }
.story {background-position: 68.2779% 21.9758%; background-size: 3303.23%; }
.sulfur {background-position: 71.5292% 21.9758%; background-size: 3413.33%; }
.surgeon_mistake {background-position: 29.4769% 45.0251%; background-size: 3413.33%; }
.sword_0 {background-position: 70.9256% 38.6318%; background-size: 3413.33%; }
.sword_1 {background-position: 10.3726% 32.1249%; background-size: 3303.23%; }
.sword_damask {background-position: 74.8992% 21.9758%; background-size: 3200.00%; }
.sword_damask_gem {background-position: 78.3266% 21.9758%; background-size: 3200.00%; }
.sword_metal {background-position: 13.6959% 32.1249%; background-size: 3303.23%; }
.sword_metal_gem {background-position: 17.0191% 32.1249%; background-size: 3303.23%; }
.sword_steel {background-position: 20.3424% 32.1249%; background-size: 3303.23%; }
.sword_steel_gem {background-position: 23.6657% 32.1249%; background-size: 3303.23%; }
.tanning_agent {background-position: 81.2625% 21.9758%; background-size: 3938.46%; }
.taste_booster__alchemy_1_spice {background-position: 34.8089% 56.9709%; background-size: 3413.33%; }
.taste_booster__salt {background-position: 38.0282% 56.9709%; background-size: 3413.33%; }
.tavern_food_1 {background-position: 19.8589% 59.8196%; background-size: 3200.00%; }
.tavern_food_2 {background-position: 23.2863% 59.8196%; background-size: 3200.00%; }
.tavern_food_3 {background-position: 41.3306% 56.9709%; background-size: 3200.00%; }
.tavern_reputation_item {background-position: 84.6774% 8.07265%; background-size: 3200.00%; }
.techbook_b_1 {background-position: 32.7621% 45.0251%; background-size: 3200.00%; }
.techbook_b_2 {background-position: 36.1895% 45.0251%; background-size: 3200.00%; }
.techbook_g_1 {background-position: 39.6169% 45.0251%; background-size: 3200.00%; }
.techbook_g_2 {background-position: 43.0444% 45.0251%; background-size: 3200.00%; }
.techbook_r_1 {background-position: 46.4718% 45.0251%; background-size: 3200.00%; }
.techbook_r_2 {background-position: 49.8992% 45.0251%; background-size: 3200.00%; }
.test_paper {background-position: 84.4914% 21.9758%; background-size: 3303.23%; }
.test_scroll {background-position: 20.5823% 51.1044%; background-size: 3657.14%; }
.thread_1 {background-position: 26.9076% 32.1249%; background-size: 3657.14%; }
.toilet_paper {background-position: 80.5835% 38.6318%; background-size: 3413.33%; }
.tongue {background-position: 85.0552% 59.7598%; background-size: 3792.59%; }
.torch {background-position: 30.0101% 32.1249%; background-size: 3303.23%; }
.town_pass {background-position: 23.5944% 51.1044%; background-size: 3657.14%; }
.tr_bellas_ring {background-position: 26.6064% 51.1044%; background-size: 3657.14%; }
.tr_brick {background-position: 88.0161% 8.07265%; background-size: 3303.23%; }
.tr_buckle {background-position: 53.3266% 45.0251%; background-size: 3200.00%; }
.tr_clay_shards {background-position: 36.5000% 32.1249%; background-size: 4266.67%; }
.tr_dagger {background-position: 39.3360% 32.1249%; background-size: 3413.33%; }
.tr_door_hinge {background-position: 83.5507% 38.6318%; background-size: 3792.59%; }
.tr_flask {background-position: 87.2000% 21.9758%; background-size: 4266.67%; }
.tr_handcuff {background-position: 91.5237% 8.07265%; background-size: 3103.03%; }
.tr_helmet {background-position: 46.0222% 32.1249%; background-size: 3303.23%; }
.tr_key {background-position: 52.7694% 32.1249%; background-size: 3303.23%; }
.tr_medallion {background-position: 90.4330% 21.9758%; background-size: 3303.23%; }
.tr_pickaxe {background-position: 92.7291% 21.9758%; background-size: 5120.00%; }
.tr_picklock {background-position: 29.7080% 51.1044%; background-size: 3303.23%; }
.tr_red_eye {background-position: 78.4785% 4.24242%; background-size: 4096.00%; }
.tr_red_eye_amulet {background-position: 95.9718% 21.9758%; background-size: 3303.23%; }
.tr_resin_pot {background-position: 89.2678% 38.6318%; background-size: 3792.59%; }
.tr_signet {background-position: 56.0362% 32.1249%; background-size: 3413.33%; }
.unknown {background-position: 56.3000% 45.0251%; background-size: 4266.67%; }
.unknown_body_part {background-position: 58.9000% 45.0251%; background-size: 4266.67%; }
.vases_with_poison {background-position: 0.201207% 25.4032%; background-size: 3413.33%; }
.water {background-position: 44.3114% 56.9709%; background-size: 4654.55%; }
.wchips {background-position: 95.6740% 38.6318%; background-size: 3413.33%; }
.wheat_crop {background-position: 81.9192% 4.24242%; background-size: 3011.76%; }
.wheat_seed {background-position: 47.1299% 56.9709%; background-size: 3303.23%; }
.whetstone {background-position: 61.8712% 45.0251%; background-size: 3413.33%; }
.white_paint {background-position: 3.41709% 25.4032%; background-size: 3531.03%; }
.wood {background-position: 51.0703% 56.9709%; background-size: 2381.40%; }
.wood1 {background-position: 70.8417% 45.0251%; background-size: 3938.46%; }
.wooden_plank {background-position: 66.2967% 32.1249%; background-size: 3103.03%; }
.wood_balk_1 {background-position: 0.201207% 11.6044%; background-size: 3413.33%; }
.wood_constr_1 {background-position: 3.40340% 11.6044%; background-size: 4096.00%; }
.wood_magic_1 {background-position: 59.4349% 32.1249%; background-size: 3103.03%; }
.working_zombie_on_ground_1 {background-position: 10.3093% 25.4032%; background-size: 1896.30%; }
.working_zombie_pseudoitem_1 {background-position: 0.205550% 0.202840%; background-size: 2007.84%; }
.zombie_juise {background-position: 16.3327% 11.6044%; background-size: 3938.46%; }
