body {
    background-color: #212121;
    zoom: 1.5;
    /*Special case for firefox*/
    image-rendering: -moz-crisp-edges
}

.intro {
    padding: 20px;
    text-align: center;
    background-color: #151515;
    margin: 40px 0px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.con {
    color: #e4e4e4;
    font-size: 200%;
}

.settingsform {
    margin: 10px 50px;
    background-color: #292929;
    padding: 20px;
}


main .intro h3 {
    font-size: 20px !important;
}

.preswitch {
    color: #e4e4e4;
    font-size: 18px;
    text-align: center;
}

.settingsform .switch {
    text-align: center;
}

#donebtn {
    margin-top:25px;
}

.settingsform input[type="text"],
.settingsform input[type="number"] {
    color: #e4e4e4;
}

.loadingsave {
    margin: 80px auto;
    zoom: 200%;
    width: 80px;
}

.gameicon {
    display: inline-block;
    image-rendering: pixelated;
    zoom: 1.5;
    transform: translateY(2px);
    height: fit-content;
}

.consaves {
    font-size: 75%;
}

.gameicon.i-church {
    zoom: 1.2;
    margin-top: 6px;
    transform: translateY(4px);
}

.saveslot {
    margin: 20px;
    background-color: #1b1b1b;
    box-shadow: 0px 0px 4px 1px black;
    display: flex;
    transition: all 0.5s;
}

.saveslot:hover {
    box-shadow: 0px 0px 4px 1px #11d2c0;
    cursor: pointer;
}

.slotnum {
    flex: 1;
    max-width: 25%;
    min-height: 100%;
}

.slotnum div {
    background-color: #353535;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px;
    margin: auto;
    text-align: center;
    line-height: 80px;
    text-shadow: 0px 0px 4px black;
    font-size: 300%;
}

.slotcontent {
    flex: 1;
    padding: 10px;
    border-left: 2px dotted white;
}

.col.slotgraveyard {
    margin-top: -10px;
}

.col.slotchurch {
    margin-top: -10px;
}

.row:nth-child(2) {
    margin-bottom: 0px;
}

.col.slotversion {
    text-align: right;
}

.col.slotversion::before {
    content: "v";
}

.loadingcon {
    width: 80%;
    height: 100%;
    margin: auto;
}

.loadingcon .row {
    text-align: center;
    margin: 20px;
}

.loadingconwrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.loadingcon .progress {
    background-color: #171717;
}

.saveslot.extra {
    padding: 20px;
    text-align: center;
}

.extra div {
    text-align: center;
    width: 100%;
}

.gameicon.pre {
    position: absolute;
    transform: translate(-20px, -3px);
}

.colorpoints .input-field.col,
.money .input-field.col {
    margin: 0px 20px;
    flex: 1;
    text-align: center;
}

.row.colorpoints,
.row.money {
    display: flex;
}

.colorpoints input,
.money input {
    transform: translateX(10px);
}

.editsavedata input {
    text-align: center;
    color: inherit;
}

.editsavedata {
    font-size: 80%
}

form.s10.col.offset-s1.editsavedata {
    color: #e4e4e4 !important;
    margin-top: 20px;
}

.row.hpenergy {
    text-align: center;
}

.editsavedata .helper-text {
    color: gray;
}

.energy {
    transform: translateX(-15px);
}

.row.money {
    max-height: 50px;
}

.intro.lesspadding {
    margin: 0px;
    margin-bottom: 10px;
}

.item {
    width: 100%;
    display: flex;
    font-size: 70%;
    margin: 10px 0px;
    flex-wrap: wrap;
    background-color: #131313;
    max-height: 500px;
    transition: all 0.5s;
}

.itemimage {
    max-width: 80px;
    max-height: 80px;
    flex: 1;
    padding:2px;
}

.iteminfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    line-height: 30px;
}

.itemname {
    flex: 1;
    text-shadow: 1px 1px #5a5a5a;
    cursor:pointer;
}

.itemmisc {
    display: flex;
    transform: translateY(3px);
    font-size: 80%;
}

.amount {
    flex: 1;
}

.btncon {
    flex: 1;
}

.btn.repairbtn {
    text-transform: none;
    padding: 15px 5px;
    line-height: 4px;
}

.amount div {
    display: inline-block;
}

.amount input[type="number"] {
    display: inline-block;
    width: 80px;
    margin-left: 10px;
}

.itemimage img {
    image-rendering: pixelated;
    height: 90%;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(10%, 10%);
}

.itemid {
    display:inline-block;
    color:gray;
    text-shadow:none;
}

.item.add .itemname{
    text-shadow: none;
}

.itemremove {
    width: 25px;
    height: 25px;
    margin: 4px;
    background-color: #cc5454;
    box-shadow: #750a0a 0px 1px 0px 2px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    line-height: 15px;
    text-align: center;
    user-select: none;
}

.item .valign-wrapper {
    margin-right: 5px;
}

.add.perk .btncon {
    flex: 0;
}

.toremove {
    max-height: 0px;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
}

.justadded {
    animation: add 0.5s;
}

@keyframes add {
    from {
        max-height:0px;
        transform: rotateX(90deg);
    }
    to {
        max-height:500px;
        transform: rotateX(0deg);
    }
}

.currentlyediting {
    border: 1px white dotted;
    animation: edit 4s infinite;
}

@keyframes edit {
    0% {
        border: 1px white dotted;
    }
    50% {
        border: 1px rgba(255, 255, 255, 0.05) dotted;
    }
}

.itemname.curactive {
    text-shadow: none;
}

.perks .itemname{
    cursor: default;
}

.savingcon .col {
    margin: 10px auto;
    text-align: center;
}

.sidemenu {
    position: fixed;
    z-index: 50;
    width: 40px;
    background-color: #006280;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.sidemenu div {
    height: 40px;
    line-height: 40px;
    transition: background-color 0.5s;
    border-bottom: 1px rgba(255, 255, 255, 0.4) dotted;
}

.sidemenu div:hover {
    background-color: rgba(0, 0, 0, 0.4)
}

.sidemenu div:last-child {
    border-bottom: none;
}
.intro.error {
    background-color: #562424;
}

.thankscon ul {
    list-style-type: disc;
    padding-left: 40px;
    padding-right: 15px;
}

.thankscon li {
    list-style-type: disc !important;
    margin: 10px 0px;
}

.thankscon {
    font-size: 18px;
}

.note {
    font-size: 50%;
    color: gray;
}
.intro.newv {
    background-color: #193133;
}

.itemquality {
    z-index: 50;
    position:absolute;
    width:25px;
    height:25px;
    background-image: url("/rsc/Empty_Star.png");
    image-rendering: pixelated;
    background-size:cover;
    transform: translate(50px, 70px);
    cursor: pointer;
}

.gold .itemquality{
    background-image: url("/rsc/Gold_Star.png");
}

.silver .itemquality {
    background-image: url("/rsc/Silver_Star.png");
}

.copper .itemquality {
    background-image: url("/rsc/Copper_Star.png");
}

.slotgraveyard,
.slotchurch {
    padding: 0px !important;
}

.inventorycon {
    background-color: #1b1b1b;
    margin: 20px 0px;
}

.invtinfo {
    text-align: center;
    padding: 20px;
    background-color: #131313;
    cursor: pointer;
    transition: all 0.5s;
}

.invtinfo::after {
    content: "^";
    font-weight: 800;
    font-size: 180%;
    position: absolute;
    transition: all 0.5s;
    right: calc(8.33333% + 30px);
    transform: translateY(-15px) rotateZ(180deg)
}

.active .invtinfo::after {
    content: "^";
    transform: translateY(-5px) rotateZ(0deg)
}

.invt {
    padding: 10px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.active .invt {
    max-height: 5000px;
    overflow: visible;
}

.additionalitems .itemquality {
    position: relative;
}

.additionalitems .active .itemquality {
    position: absolute;
}

.inventoryminipreview img {
    image-rendering: pixelated;
    height: 24px;
}

.inventoryminipreview .item_icon {
    width: 25px!important;
    height: 25px!important;
    display: inline-block !important;
}

.inventoryminipreview {
    padding: 5px;
}

.changes {
    background-color: #142729;
    text-align: left;
    font-size: 11px;
    padding: 8px;
    border-radius: 5px;
    word-break: break-word;
    white-space: pre-wrap;
}

.npcimage img {
    width: 100px;
    image-rendering: pixelated;
}

.relationships .itemmisc {
    flex: 1;
}

.relationships .itemname {
    flex: none;
}

.settingsform input[type="text"]::placeholder {
    color: #676767;
    font-size: 10px;
}

.row.port {
    margin-top: 25px;
    margin-bottom: 0px;
}

.port .input-field {
    transform: translateY(10px);
}

.port label {
    transform: translateY(-24px) scale(0.8) !important;
}

.misc a {
    color: inherit;
}

.loadingmask {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    top: 0px;
    left: 0px;
}

.loading {
    zoom: 3;
    margin: auto;
}

.miscbuttons .btn {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.toast .confirm {
    background-color: #bb5050;
    padding: 8px;
    font-size: 75%;
    text-align: center;
    max-width: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px #903b3b, 4px 4px 0px 0px #7b2e2e;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #78797a;
    border-radius: 10.2px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #858687;
}

input[type=range] {
    border: 0px solid white;
}

p.timeoutput {
    text-align: center;
    height: 20px;
    font-size: 14px;
    margin-top: 0px !important;
    transform: translateY(-24px);
}

.dayindicator {
    display: flex;
}

.day {
    flex: 1;
    display: flex;
    filter: grayscale(1);
    transition: filter 0.5s;
}

.day img {
    margin: 0 auto;
    cursor: pointer;
}

.day.active {
    filter: grayscale(0);
}

.equipped-items .amount {
    visibility: hidden;
}

.itemimage .item_icon {
    float: left;
} 

.note.hover::before {
    content: "Hover";
    position: absolute;
    margin-top: -10px;
    font-size: 70%;
}

.note.hover {
    transition: all 0.7s;
    max-height: 20px;
    overflow: hidden;
    cursor: pointer;
}

.note.hover:hover {
    max-height: 400px;
}

.miscbuttons .note {
    margin-bottom: 10px;
}

.miscbuttons .btn {
    margin: 10px 0px 10px 0px;
}

.unknown_item {
    border: dotted 2px red;
}

.confirm.yes, .confirm.no {
    margin: 0px 10px;
}

.item .inventoryminipreview {
    flex: 0 0 100%;
    background: rgba(0, 0, 0, 0.14);
}


ul.collapsible {
    border: none;
    box-shadow: none;
    margin: 0;
}

.con .collapsible-header {
    border: initial;
    line-height: initial;
    background-color: #1c1c1c;
    text-align: center;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0, 0.5);
}

.keyboard-focused .con .collapsible-header {
    border: initial;
    line-height: initial;
    background-color: #1f1f1f;
    text-align: center;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0, 0.5);
}



.collapsible li {
    margin: 20px 0px;
}

.con .collapsible-body {
    border: initial;
}

.open-close-indicator {
    width: 100%;
    text-align: center;
    color: rgba(255,255,255, 0.1);
    font-weight: 900;
    height: 0px;
}

.arrow {
    transform: translateY(-15px) rotate(90deg) scaleX(0.5);
    transition: all 0.3s;
    pointer-events: none;
}

.active .arrow {
    transform: translateY(-15px) rotate(-90deg) scaleX(0.5);
}

.open-close-indicator .helper {
    font-weight: 200;
    position: absolute;
    width: 100%;
    font-size: 13px;
    pointer-events: none;
    margin-top: -19px;
}

.worker-efficiency-container {
    margin: 0;
    padding: 0;
    height: 36px;
    line-height: 32px;
    pointer-events: initial;
}

input#worker-efficiency, input#gravebody-skulls {
    margin: 0!important;
    height: 20px;
    width: 50px;
    color: white;
    font-size: 14px;
    background-color: rgba(255,255,255,0.1);
    font-family: inherit;
    text-align: center;
}

.gameicon.i-white-skull {height: 10px;transform: translateY(6px);zoom: initial;}